{% extends "jqq_base.html" %}
{% block jqq-title %}<title>角旗区FAQ</title>{% endblock %}
{% block jqq-style %}
<style type="text/css">
#faq h3{margin:0; padding:8px; color:black; background:white;}
#faq h3{font-size:14px; border-bottom:1px solid #dedede}

#faq{background:white; padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
#faq{border-top:0px solid white}
#faq{border-left:1px solid #dedede}
#faq{border-right:1px solid #dedede}
#faq{border-bottom:3px solid #dedede}

#faq{min-height:150px}
#faq p{margin:0; padding:8px 16px; }
</style>
{% endblock %}

<!-- 左边主要内容 -->
{% block jqq-main %}

<!-- 是什么 -->
<div id="faq">

<h3>角旗区FAQ</h3>
<p>
</p>
<div class="clearfloat"></div>

</div>
{% endblock %}

<!-- 侧边栏 -->
{% block jqq-side %}
{% endblock %}
