{% extends "jqq_base.html" %}
{% block jqq-title %}<title>角旗区合作伙伴</title>{% endblock %}
{% block jqq-style %}
<style type="text/css">
.jqqpartner h3{margin:0; padding:8px; color:black; background:white;}
.jqqpartner h3{font-size:14px; border-bottom:1px solid #dedede}
.jqqpartner{background:white; padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
.jqqpartner{border-top:0px solid white}
.jqqpartner{border-left:1px solid #dedede}
.jqqpartner{border-right:1px solid #dedede}
.jqqpartner{border-bottom:3px solid #dedede}
.jqqpartner{min-height:150px}
.jqqpartner p{margin:0; padding:8px 16px; }
</style>
{% endblock %}

<!-- 左边主要内容 -->
{% block jqq-main %}

<div class="jqqpartner">
<h3>角旗区合作伙伴</h3>
<p>
即将带来，敬请期待......
</p>

</div>
<div class="clearfloat"></div>

{% endblock %}

<!-- 侧边栏 -->
{% block jqq-side %}
{% endblock %}

