{% extends "jqq_base.html" %}
{% block jqq-title %}<title>关于角旗区</title>{% endblock %}
{% block jqq-style %}
<style type="text/css">
.about h3{margin:0; padding:8px; font-size:14px; border-bottom:1px solid #dedede;}
.about{padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
.about p{margin:0; padding:8px 16px; font-size:14px; line-height:24px;}
</style>
{% endblock %}

<!-- 左边主要内容 -->
{% block jqq-main %}
<div class="about jbox-white">
<h3>角旗区的由来</h3>
<p>
我非常喜欢足球。我看球。<br/>
2011年9月14号凌晨2点45，我看欧冠，巴萨vs米兰。<br/>
这是一场经典的比赛。开场24秒，帕托闪袭，随后梅西助攻佩德罗扳平，下半时比利亚任意球破门反超，补时蒂亚戈-席尔瓦头球破门，2-2平。<br/>
巴萨、米兰、曼联、拜仁，等等，他们的比赛我看了数百场。但从没有哪一场像这场2-2一样，让我有种把他记录下来的强烈愿望。<br/>
当时觉得，每一场比赛都犹如一场电影，跌宕起伏，扣人心弦。我要记录当时的感想。<br/>
2月21号，巴萨和米兰在欧冠又一次相遇。巴萨仍是那个巴萨，米兰阵容却已换了大半。<br/>
他们的比赛，我们的青春。<br/><br/>

我非常喜欢足球。我也踢球。<br/>
在学校时，我有很多时间都是在操场度过的。能踢球的时光，真是快乐。<br/>
我们踢野球，我们也参加学院组织的联赛。还取得了一个不错的成绩。<br/>
现在工作了，踢球时间锐减。<br/>
真是怀念在操场上度过的时光，和一起踢球的那群兄弟。<br/>
借用风云足球的一句话，football is not a game, is our memory。<br/><br/>

这两个事，算是角旗区的来由。<br/>
我需要一个地方，<br/>
记录我们看过的比赛，比如这场 <a class="vi-link" target="_blank" href="/match/100/">巴萨 2-2 米兰</a>。<br/>
记录我们踢过的比赛，比如这场学校里面的联赛 <a class="vi-link" target="_blank" href="/match/188/">火星人 3-0 Novel Device</a>。<br/><br/>

如果你也需要这样一个地方，来记录，来分享，<a class="vi-link" target="_blank" href="/accounts/register/">加入角旗区</a>吧！
</p>
</div>

<div class="about jbox-white">
<h3>角旗区能干什么？</h3>
<p>
目前，角旗区能干这些事：<br/>
1、创建西甲、英超、德甲、意甲的比赛。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在个人页面的右下角有创建比赛的链接。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前只有高级用户才能创建4大联赛的比赛。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你想创建，给 jiaoqiqu 发站内信，他会给你权限。<br/><br/>

2、创建野球比赛、校园比赛、公司比赛等。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在个人页面的右下角有创建比赛的链接。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前创建非职业的比赛没有任何限制。<br/><br/>

3、创建球队。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在个人主页右下角有创建球队的链接。很容易的。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本着谁创建谁负责的原则，创建球队者有对该球队的最高权限。<br/><br/>

4、发表球队话题。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申请成为非职业球队的成员后，可以发布该球队的话题。<br/><br/>

5、写球评。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在比赛页面，可以写球评。你的球评是角旗区最宝贵的财富！<br/><br/>

6、上传比赛图片。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在比赛页面，可以上传该场比赛的图片。<br/><br/>

7、观看比赛活分享比赛链接。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在比赛页面右上角，可以观看该场比赛的视频，或分享观看链接。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;独乐不如众乐，是吧:）<br/><br/>

8、直播表。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角旗区尽最大努力提供比赛的直播链接。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;链接不在多而在精。角旗区的直播链接都精心整理过，并附加有提示信息哦。<br/><br/>

9、比赛推送。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角旗区会在赛后第一时间推送比赛详细信息邮件。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你关心曼联，但因为工作又不能熬夜看曼联比赛，没关系，<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你在曼联球队页面关注曼联，角旗区就会在曼联的比赛后第一时间给你推送比赛信息。<br/><br/>

10、其他。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前功能有这些。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您有其他建议或意见，欢迎站内信给jiaoqiqu，感谢您的关心！

</p>
</div>
{% endblock %}
