{% extends "jqq_base.html" %}
{% block jqq-title %}<title>角旗区API</title>{% endblock %}
{% block jqq-style %}
<style type="text/css">
.jqqapi h3{margin:0; padding:8px; color:black; background:white;}
.jqqapi h3{font-size:14px; border-bottom:1px solid #dedede}
.jqqapi{background:white; padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
.jqqapi{border-top:0px solid white}
.jqqapi{border-left:1px solid #dedede}
.jqqapi{border-right:1px solid #dedede}
.jqqapi{border-bottom:3px solid #dedede}
.jqqapi{min-height:150px}
.jqqapi p{margin:0; padding:8px 16px; }
</style>
{% endblock %}

<!-- 左边主要内容 -->
{% block jqq-main %}

<div class="jqqapi">
<h3>角旗区公开API</h3>
<p>
即将带来，敬请期待......
</p>

</div>
<div class="clearfloat"></div>

{% endblock %}

<!-- 侧边栏 -->
{% block jqq-side %}
{% endblock %}
