{% extends "jqq_base.html" %}
{% block jqq-title %}<title>联系角旗区</title>{% endblock %}
{% block jqq-style %}
<style type="text/css">
.contact h3{margin:0; padding:8px; color:black; background:white;}
.contact h3{font-size:14px; border-bottom:1px solid #dedede}
.contact{background:white; padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
.contact{border-top:0px solid white}
.contact{border-left:1px solid #dedede}
.contact{border-right:1px solid #dedede}
.contact{border-bottom:3px solid #dedede}
.contact{min-height:150px}
.contact p{margin:0; padding:8px 16px; }
</style>
{% endblock %}

<!-- 左边主要内容 -->
{% block jqq-main %}

<div class="contact">
<h3>联系角旗区</h3>
<!--
<p>
如果您有广告投放、商务合作的需求，请</br><img src="/medias/partner.png"/><br/>欢迎体育类商务合作 : )<br/><br/>
如果您希望与我们进行媒体合作或有采访需求，请</br><img src="/medias/talk.png"/><br/><br/>
关于角旗区的使用、改进、投诉，校园联赛的创建、管理等，可以参考
<a class="vi-link" href="/faq/">《角旗区FAQ》</a>。<br/>
如果还没有解决您的问题，请</br><img src="/medias/help.png"/><br/>
</p>
-->
<p>
关于角旗区的使用、改进、投诉，校园联赛的创建、管理等，请</br><img src="/medias/help.png"/><br/><br/>
</p>

</div>
<div class="clearfloat"></div>
{% endblock %}
<!-- 侧边栏 -->

{% block jqq-side %}
{% endblock %}

