{% extends "jqq_base.html" %}
{% block jqq-title %}<title>比赛创建指南</title>{% endblock %}
{% block jqq-style %}
<style type="text/css">

.about h3{margin:0; padding:8px; color:black; background:white;}
.about h3{font-size:14px; border-bottom:1px solid #dedede}
.about{background:white; padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
.about{border-top:0px solid white}
.about{border-left:1px solid #dedede}
.about{border-right:1px solid #dedede}
.about{border-bottom:3px solid #dedede}
.about{min-height:50px}
.about p{margin:0; padding:8px 16px; }

#name h3{margin:0; padding:8px; color:black; background:white;}
#name h3{font-size:14px; border-bottom:1px solid #dedede}
#name{background:white; padding-top:0px; padding-bottom:12px; margin-top:20px; margin-bottom:20px}
#name{border-top:0px solid white}
#name{border-left:1px solid #dedede}
#name{border-right:1px solid #dedede}
#name{border-bottom:3px solid #dedede}
#name{min-height:50px}
#name p{margin:0; padding:8px 16px; }

</style>
{% endblock %}

<!-- 左边主要内容 -->
{% block jqq-main %}

<h1>比赛创建指南</h1>
<div class="clearfloat"></div>

<div class="about">
<h3>比赛创建流程</h3>
<p>
创建一场比赛，由以下部分构成：<br/><br/>
1、填写主队、客队、日期，搜索（查看角旗区是否已有本场比赛）。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;
主客队名请按<a class=vi-link href="#name">标准称谓</a>填写，如巴塞罗那、皇家马德里，请勿使用巴萨、皇马。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;
日期请填写比赛时间，以北京日期为宜。<br/><br/>
2、如角旗区已有本场比赛，可去查看比赛。若对本场比赛有疑问，可联系管理员。<br/><br/>
3、若角旗区没有本场比赛，进入填写比赛详细信息页面。
</p>

</div>
<div class="clearfloat"></div>

<div class="about">
<h3>比赛详细信息填写</h3>
<p>
</p>

</div>
<div class="clearfloat"></div>

<div id="name">
<h3>球队名称参考</h3>
<p>
</p>

</div>
<div class="clearfloat"></div>
{% endblock %}
<!-- 侧边栏 -->
{% block jqq-side %}
{% endblock %}
