<!--Passit BUTTON BEGIN-->
<script type="text/javascript">
var passit_title = "";//自定义分享标题，删除和留空表示使用默认
var passit_url = "";//自定义分享网址，删除和留空表示使用默认
var passit_content= "";//自定义分享内容，删除和留空表示使用默认Meta中的描述
var passit_image= "";//自定义分享图片，删除和留空表示不分享图片
var sina_appkey= "";//sina微博appkey,删除和留空表示使用默认
var qq_appkey= "";//腾讯微博appkey,删除和留空表示使用默认
</script>
<script type="text/javascript">
bookmark_service_div="baiduHi,bookmark,douban,sohuweibo,163weibo,more";
bookmark_service="qqkj,sinaweibo,xnzt,kxzt,more";</script>
<script type="text/javascript" src="http://www.passit.cn/js/passit_default_new.js?pub=14339&simple=1" charset="UTF-8"></script>
<!--Passit BUTTON END-->
