<div class="product_info fl beautiful_div_block width645">
	<div class="beauty_mod_inner">
		<ul class="beauty_mod_list">
			<li class="clearfix" style="display:block">
			<span class="fl"><img src="/static//img/tianmao_logo.png" alt="" class="shop_logo">天猫品牌旗舰店</span>
			<a class="fr go_buy gray_btn_s" href="" target="_blank" style="margin-right:8px;"><span class="s">去购买</span></a>
			</li>
			</br>
			<li class="clearfix">
			<span class="fl" style="margin-left:8px;"><img src="/static/img/taobao.gif" alt="" class="shop_logo">淘宝网</span>
			<span class="buy_link clearfix">
			</span>
			<a class="fr go_buy gray_btn_s" href="" target="_blank" style="margin-right:8px;"><span class="s">去购买</span></a>
			</li>
		</ul>
	</div>
</div>
